<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="SqlMapConfig.xsd">
	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
	</settings>
	
	<!-- =============================================		
	     接続するデータベースの設定
	     (注)iBATISのDAOを使用している場合、このdatabese設定は読み込まれません。
	     =============================================   -->	
	<database>
		<!-- OleDb(Access)の場合 -->
		<provider name="OleDb1.1"/>
		<dataSource name="Access"  
			connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=iBatisSample.mdb"/>
		
		<!-- SQL Serverの場合 -->
		<!-- <provider name="sqlServer1.1"/> -->
		<!-- <dataSource name="SQLServer" 
			connectionString="data source=(local)\NetSDK;database=YOUR_DATABASE_NAME;user id=YOUR_USER_ID;password=YOUR_USER_PASSWORD;
			connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/> -->		
		
	</database>


	<!-- =============================================		
	     マッピング定義ファイルの設定
	     =============================================   -->	
	<sqlMaps>
		<!-- マッピング定義をここに追加していきます -->	
		<sqlMap resource="./Maps/Book.xml"/>
		<!--
		<sqlMap resource="./Maps/Hoge.xml"/>
		<sqlMap resource="./Maps/Moge.xml"/>
		-->
	</sqlMaps>

</sqlMapConfig>